@using TravelTrip.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>BAŞLIK</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
            <th>DETAYLAR</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ID</td>
                <td>@x.Baslik</td>
                <td><a href="#" class="btn btn-danger">Sil</a></td>
                <td><a href="#" class="btn btn-primary">Güncelle</a></td>
                <td><a href="#" class="btn btn-warning">Detaylar</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Admin/YeniBlog/" class="btn btn-success">Yeni Blog</a>